@import url("variables.css");

.title {
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.inFor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  /* padding: 10px 0; */
}

.logFrm {
  display: flex;
  padding: 10px 0;
	
}

.title_content {
  display: flex;
  align-items: center;
  width: 150px;
  height: 30px;
}

.txtfield {
  width: 200px;
  height: 10px;
  font-size: 13px;
  padding: 10px;
  border: 1px solid var(--gray-darker);
}

.txtselect {
  border: 1px solid;
  border-radius: 5px;
  width: 222px;
}

.button {
  padding: 8px 16px;
  background-color: var(--gray-darker);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--point-color);
}

.buttons {
  margin-top: 20px; /* 버튼들의 위 여백 조절 */
  text-align: center; /* 버튼들을 가운데 정렬 */
}

.buttons input {
  margin: 0 auto; /* 버튼들을 수평 가운데 정렬 */
}

.delet {
  text-align: center;
}

.delet-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
