@import "variables.css";

#header {
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 91px;

  background-color: var(--gray-light);
  border-bottom: var(--gray-darker) 1px solid;
}

/* 로고부분 */
#main_logo {
  position: absolute;
  left: 50%;
  top: 23px;
  transform: translateX(-50%);
  width: 100px;
  height: 50px;
  background-image: url("https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png");
  background-position: center;
  background-repeat: no-repeat;
}

/*서브 메뉴*/

.tab-buttons {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  height: 50px;
  /* 화면의 높이에 따라 중앙 정렬 */
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  width: 800px;

  border-bottom: var(--gray-darker) 1px solid;
}

.tab-content {
  /* margin-top: 15px; */
  width: 700px;
}

.tab-buttons li {
  list-style: none;
  margin: 20px;
  /* 간격을 조절 */
}

.tab-buttons a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

/* 연주 : 추가적으로 작성한 부분입니다 */
body > div.main__titleText {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  margin: 35px 15px 15px 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;

  margin: 20px 0 15px 0;
}

#mypage__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
