<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.movie.mapper.UserMapper">

    <!--로그인-->
    <select id="login" resultType="com.campus.movie.vo.UserVO">
        select id, pw from user where id=#{param1} and pw=#{param2}
    </select>

    <!--아이디 중복-->
    <select id="idCheck" resultType="int">
        select COUNT(*) AS count from user WHERE id=#{param1}
    </select>

    <!--아이디찾기-->
    <select id="findId" resultType="int">
        select id from user where name=#{param1} and email=#{param2}
    </select>

    <!--비밀번호찾기-->
    <select id="findPw" resultType="int">
        select pw from user where id=#{param1} and name=#{param2} and email=#{param3}
    </select>

</mapper>